/* Global Styles */

/* Color Palette */
:root {
  --primary-color: #160f17;
  --secondary-color: #eac117;
  --background-color: #251826;
  --text-color: white;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(
    --secondary-color
  ); /* Changed primary to secondary color for headings */
  margin-bottom: 10px;
  font-size: 25px;
}

h1 {
  font-size: 50px;
  color: #eac117;
}
p {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.header p,
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
h3 {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Header Styles */
header {
  background-color: var(--primary-color);
  padding: 0px;
  text-align: center;
  color: white;
  animation: fadeInDown 1s ease forwards;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

/* Main Styles */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Align items to center */
  padding: 20px;
  padding-bottom: 80px;
}

article,
aside {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  flex: 1;
  margin-bottom: 20px;
}

article h2,
aside h3 {
  margin-top: 0;
}

.technologies {
  list-style: none;
  padding: 0;
}

.technologies li {
  margin-bottom: 20px;
}

.technologies h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

/* Footer Styles */
footer {
  background-color: var(--primary-color);
  padding: -10px;
  text-align: center;
  color: #fff;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.project-link {
  background-color: var(--secondary-color);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.project-link:hover {
  background-color: var(--secondary-color);
  color: black;
  box-shadow: 0 0 20px #eac117;
}
.features,
.technologies {
  background-color: var(--primary-color);
  padding: 20px;
  flex: 1;
  margin-right: 20px; /* Add margin to create space between sections */
  margin-bottom: 20px; /* Add margin at the bottom for separation */
}

.technologies {
  margin-left: 20px; /* Adjust margin-left for proper spacing */
}
#why-world-explorer {
  margin-bottom: 25px; /* Add bottom margin to create space */
}
section {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
